*.o
*.pyc
*.bak
*.so
*.a
*~
!.*
*.backup
*.aux
*.log
*.out
*.profile
*.bbl
*.blg
*.brf

MANIFEST
.sconsign.dblite

aclocal.m4
config.h.in
configure
Makefile.in
MANIFEST.in
autom4te.cache
build-aux
install-sh
missing
py-compile
release/
build/